.top{
    width: 1000px;
    padding-top: 10px;
    padding-bottom:22px ;
    
    margin: 0px auto;
    overflow: hidden;
}

.top>img{
  margin-left:20pxpx ;
  float: left;
}

h2{
float: left;
 height: 60px;
 line-height: 60px; 
 margin-left:25px ;
 font-size: 26px;
 padding-top:10px ;  
 color:#666 ;
}
.main{
       background-color: #e93854;
       height: 475px;

}

.main-content{
width: 1000px;
height: 100%;
margin: 0 auto;
background:url(./图片/1.webp)
}

.bottom{
margin: 0 auto;
width: 1000px;
height: 100px;

}

#bottom{
    width: 800px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
}


li{
    font-size: 14px;
    float: left;
}

h3{
    width: 270px;
    margin: 0 auto;
    color: #666666;
     font-size: 14px;

}
span{
    margin:0 5px;
}